@charset "utf8";

@use "mixin" as mixin;

.taskSheet {
	width: max(300px, 50vh);
	height: 600px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 20px;
	display: grid;
	place-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;

	.closeSheet {
		position: absolute;
		top: 10px;
		right: 10px;

		.fa-rectangle-xmark {
			font-size: 30px;
			cursor: pointer;
		}
	}

	.inputArea {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;

		.sheetHeading {
			font-size: 30px;
			margin-bottom: 30px;
		}

		.inputID {
			display: grid;
			place-items: center;
			width: 40px;
			height: 40px;
			font-size: 16px;
			margin-bottom: 20px;
			background-color: #333;
			color: #fff;
			border-radius: 50%;
			padding: 10px;
		}

		.taskTitle,
		.taskDescription,
		.taskPIC {
			@include mixin.taskInputField();
		}

		.taskPeriod {
			display: grid;
			place-items: center;
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			gap: 20px;
			margin-bottom: 20px;

			.taskPeriodStart,
			.taskPeriodEnd {
				height: 40px;
				padding: 5px 10px;
				border: 2px solid #000;
				border-radius: 10px;
			}
		}

		.taskStatus {
			text-align: center; 
			select {
				width: 100px;
				height: 40px;
				border: 2px solid #000;
				border-radius: 10px;
				padding: 5px;
				margin-bottom: 10px;
			}
		}

		.priority {
			select {
				width: 100px;
				height: 40px;
				border: 2px solid #000;
				border-radius: 10px;
				padding: 5px;
				margin-bottom: 10px;
			}
		}

		.taskMember {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.taskMemberList {
				width: 200px;
				height: 70px;
				overflow-y: scroll;
				border: 2px solid #000;
				border-radius: 10px;
				padding: 10px;

				li {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 5px;
					cursor: pointer;

					.roleIcon {
						background-color: darkgoldenrod;
						border-radius: 10px;
						color: #fff;
						padding: 3px;
					}
				}
			}

			.addMemberForm {
				display: flex;
				gap: 10px;
				margin-bottom: 50px;

				.newMemberListWrap {
					border: 2px solid #777777;
					border-radius: 10px;
					display: flex;
					align-items: center;
					position: relative;

					.newMemberList {
						width: calc(var(--sheet-Member-width) - 50px);
						border-radius: 10px;
						padding: 5px;

						li {
							cursor: pointer;
						}
					}

					.fa-caret-down {
						position: absolute;
						right: 10px;
					}
				}

				.sheetAddMemberBtn {
					width: 50px;
					display: grid;
					place-items: center;
					background-color: #333;
					color: #fff;
					padding: 10px;
					border-radius: 10px;
				}
			}

		}

		.addTaskSaveBtn {
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-size: 20px;
			padding: 10px;
			background-color: #335252;
			color: #fff;
			border-radius: 10px;
		}
	}
}

// tasksheetマスク
.taskUnderMask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	z-index: 1;
}